<link rel="stylesheet" href="/css/image-full.css" type="text/css"><script> </script>

<section class="ImageFull  block">

  <div class="media" style="padding-bottom: calc(812/1440 * 100%);">
    <img src="/imgs/full.png" alt="">
  </div>

</section>

<section class="ImageFull  wrapper  block">

  <div class="media" style="padding-bottom: calc(812/1440 * 100%);">
    <img src="/imgs/full.png" alt="">
  </div>

</section>