<link rel="stylesheet" href="/css/hero.css" type="text/css"><script> </script>

<section class="Hero">

  <div class="Hero__bg" style="background-image: url(/imgs/hero.png);"></div>

  <div class="Hero__wrapper  wrapper">

    <div class="Hero__grid  grid">

      <div class="Hero__item  Hero__item--header"></div>

      <div class="Hero__item  Hero__item--intro">

        <div class="Hero__titles">
          <h1>Airbnb</h1>
          <p class="t-lede">Rebranding the world's most compelling hospitality idea</p>
        </div>
        
      </div>

      <div class="Hero__item  Hero__item--footer">
        <h4>Awards</h4>
        <ul>
          <li>Cannes Lion</li>
          <li>Transform Awards</li>
        </ul>
      </div>

    </div>

  </div>

</section>
