<link rel="stylesheet" href="/css/threesome.css" type="text/css"><script> </script>

<section class="Threesome  block  wrapper">

  <div class="Threesome__grid  grid  grid--left">

    <div class="Threesome__item  grid__item">

      <div class="media  media--landscape">
        <img src="/imgs/work3.png" alt="">
      </div>
      <img class="Threesome__overlay" src="/imgs/work4.png" alt="">
      <h2 class="Threesome__title">Head</h2>
      <p class="Threesome__copy">Reinventing HEAD as a new winter sports brand</p>

    </div>

    <div class="Threesome__item  grid__item">

      <div class="media  media--landscape">
        <img src="/imgs/work3.png" alt="">
      </div>
      <img class="Threesome__overlay" src="/imgs/work4.png" alt="">
      <h2 class="Threesome__title">Head</h2>
      <p class="Threesome__copy">Reinventing HEAD as a new winter sports brand</p>

    </div>

    <div class="Threesome__item  grid__item">

      <div class="media  media--portrait">
        <img src="/imgs/work1.png" alt="">
      </div>
      <img class="Threesome__overlay" src="/imgs/work2.png" alt="">
      <h2 class="Threesome__title">Artfinder</h2>
      <p class="Threesome__copy">Taking on the antiquated art world</p>

    </div>

    <div class="Threesome__item  grid__item">

      <div class="media  media--portrait">
        <img src="/imgs/work1.png" alt="">
      </div>
      <img class="Threesome__overlay" src="/imgs/work2.png" alt="">
      <h2 class="Threesome__title">Artfinder</h2>
      <p class="Threesome__copy">Taking on the antiquated art world</p>

    </div>

    <div class="Threesome__item  grid__item">

      <div class="media  media--landscape">
        <img src="/imgs/work3.png" alt="">
      </div>
      <img class="Threesome__overlay" src="/imgs/work4.png" alt="">
      <h2 class="Threesome__title">Head</h2>
      <p class="Threesome__copy">Reinventing HEAD as a new winter sports brand</p>

    </div>

    <div class="Threesome__item  grid__item">

      <div class="media  media--portrait">
        <img src="/imgs/work1.png" alt="">
      </div>
      <img class="Threesome__overlay" src="/imgs/work2.png" alt="">
      <h2 class="Threesome__title">Artfinder</h2>
      <p class="Threesome__copy">Taking on the antiquated art world</p>

    </div>

    <div class="Threesome__item  grid__item">

      <div class="media  media--portrait">
        <img src="/imgs/work1.png" alt="">
      </div>
      <img class="Threesome__overlay" src="/imgs/work2.png" alt="">
      <h2 class="Threesome__title">Artfinder</h2>
      <p class="Threesome__copy">Taking on the antiquated art world</p>

    </div>

    <div class="Threesome__item  grid__item">

      <div class="media  media--landscape">
        <img src="/imgs/work3.png" alt="">
      </div>
      <img class="Threesome__overlay" src="/imgs/work4.png" alt="">
      <h2 class="Threesome__title">Head</h2>
      <p class="Threesome__copy">Reinventing HEAD as a new winter sports brand</p>

    </div>

  </div>

</section>
