/*------------------------------------*\
  #Page
\*------------------------------------*/

/**
 * Page-level styling (e.g. HTML and BODY elements).
 */

html {
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100%;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1.5;
  background: var(--main-page-bg);
  color: var(--main-page-color);
}

body {
  font-family: var(--main-page-font);
  font-weight: normal;
  background: var(--white);
}

::selection {
  background: var(--main-page-bg-selection);
  color: var(--main-page-color-selection);
  text-shadow: none;
}

.Main {

  position: relative;
  border-top: var(--border) solid var(--blue);
  border-bottom: var(--border) solid var(--blue);

  &:before,
  &:after {

    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: var(--border);
    background-color: var(--blue);
    z-index: 10;

  }

  &:before {

    left: 0;

  }

  &:after {

    right: 0;

  }
  /*padding-top: var(--header-height-small);

  @media(--sm) {

    padding-top: var(--header-height-large);

  }*/
}