<link rel="stylesheet" href="/css/stats.css" type="text/css"><script> </script>

<section class="Stats  block  wrapper">

  <div class="grid">

    <div class="Stats__item  grid__item  u-1/4@sm">
      <p class="t-stat">18</p>
      <p class="Stats__copy">Hosts met during immersion</p>
    </div>

    <div class="Stats__item  grid__item  u-1/4@sm">
      <p class="t-stat">13</p>
      <p class="Stats__copy">Cities visited along the way</p>
    </div>

    <div class="Stats__item  grid__item  u-1/4@sm">
      <p class="t-stat">90</p>
      <p class="Stats__copy">Days spent working at Airbnb HQ</p>
    </div>

    <div class="Stats__item  grid__item  u-1/4@sm">
      <p class="t-stat">120</p>
      <p class="Stats__copy">Employee interviews conducted</p>
    </div>

  </div>

</section>
