<link rel="stylesheet" href="/css/clock.css" type="text/css"><script> </script>

<div class="Clock  Clock--bounce  js-{{ location }}">
  <div class="Clock__container  Clock__container--hours  hours-container">
    <div class="Clock__hand  Clock__hand--hours  hours"></div>
  </div>
  <div class="Clock__container  Clock__container--minutes  minutes-container">
    <div class="Clock__hand  Clock__hand--minutes  minutes"></div>
  </div>
  <div class="Clock__container  Clock__container--seconds  seconds-container">
    <div class="Clock__hand  Clock__hand--seconds  seconds"></div>
  </div>
</div>