<link rel="stylesheet" href="/css/carousel.css" type="text/css"><script> </script>

<section class="Carousel  Carousel--overflow  wrapper  block">

  <div class="Carousel__wrapper">

    <div class="Carousel__container  swiper-container">

      <div class="swiper-wrapper">

        {% for i in 1..5 %}

        <div class="Carousel__item  swiper-slide">

          <div class="media  media--landscape"></div>
            
        </div>

        {% endfor %}

      </div>

    </div>

    <div class="Carousel__pagination  swiper-container">
      <div class="swiper-wrapper">

        {% for i in 1..5 %}
          <div class="swiper-slide  Carousel__pagination__bullet"></div>
        {% endfor %}

      </div>
    </div>

  </div>

  <p class="Carousel__caption">Caption for whole carousel.</p>

</section>