<link rel="stylesheet" href="/css/stack.css" type="text/css"><script> </script>

<section class="Stack  block  wrapper  wrapper--skinny">

  <div class="grid">

    <div class="Stack__itemText  grid__item">
      <div class="Stack__content">
        <h2>Creating a marque that anyone can draw</h2>
        <p>Part of our goal was to design a marque anyone could draw – something that transcended language and formed the foundation of the new brand. The marque, named Bélo, encompasses values of belonging and is imbued with four meanings of People, Places, Love and Airbnb.</p>
        <p>The Bélo is also used as a community symbol that can be expressed differently by each community member and in every listing – it is not bound by language, culture or location. The end result is a symbol people feel compelled to share – one that accepts we are all different, one to wear with pride. We’ve created a long term, universal symbol for Airbnb.</p>
      </div>
    </div>

    <div class="Stack__itemMedia  grid__item">

      <div class="Stack__overlap  grid  grid--left">

        <div class="Stack__item  grid__item  u-width-4  u-push-4">

          <a class="Stack__album" href="#">
            <div class="media" style="padding-bottom: calc(215/321 * 100%)">
              <div class="media__item"><img src="/imgs/stack1.png" alt=""></div>
              <div class="media__item"><img src="/imgs/stack2.png" alt=""></div>
              <div class="media__item"><img src="/imgs/stack3.png" alt=""></div>
              <div class="media__item"><img src="/imgs/stack4.png" alt=""></div>
              <div class="media__item"><img src="/imgs/stack5.png" alt=""></div>
            </div>
          </a>

        </div>

        <div class="Stack__item  grid__item  u-width-10  u-push-1">
          <div class="media" style="padding-bottom: calc(520/800 * 100%)">
            <img src="/imgs/1.png" alt="">
          </div>
        </div>

        <div class="Stack__item  grid__item  u-width-4  u-push-6  u-up-5">
          <div class="media" style="padding-bottom: calc(480/320 * 100%)">
            <img src="/imgs/2.png" alt="">
          </div>
          <p class="Stack__caption">A marque that anyone can draw</p>
        </div>

      </div>

      <div class="grid  grid--left">

        <div class="Stack__item  grid__item  u-width-10">
          <div class="media" style="padding-bottom: calc(452/800 * 100%)">
            <img src="/imgs/3.png" alt="">
          </div>
        </div>

        <div class="Stack__item  grid__item  u-width-10  u-push-1">
          {% include 'modules/carousel' %}
        </div>
        
      </div>

    </div>

  </div>

</section>

<section class="Stack  block  wrapper  wrapper--skinny">

  <div class="Stack  grid">

    <div class="Stack__itemMedia  grid__item">

      <div class="grid  grid--left">

        <div class="Stack__item  grid__item  u-width-11">
          <div class="media" style="padding-bottom: calc(580/880 * 100%)">
            <img src="/imgs/4.png" alt="">
          </div>
        </div>

      </div>

      <div class="Stack__overlap  grid  grid--left">

        <div class="Stack__item  grid__item  u-width-2  u-push-8  zz-top">
          <div class="media" style="padding-bottom: 100%">
            <img src="/imgs/5.png" alt="">
          </div>
        </div>

        <div class="Stack__item  grid__item  u-width-8  u-push-1  u-up-2">
          <div class="media" style="padding-bottom: calc(360/640 * 100%)">
            <img src="/imgs/6.png" alt="">
          </div>
        </div>

      </div>

    </div>

    <div class="Stack__itemText  grid__item">
      <div class="Stack__content">
        <h2>Creating a marque that anyone can draw</h2>
        <p>Part of our goal was to design a marque anyone could draw – something that transcended language and formed the foundation of the new brand. The marque, named Bélo, encompasses values of belonging and is imbued with four meanings of People, Places, Love and Airbnb.</p>
        <p>The Bélo is also used as a community symbol that can be expressed differently by each community member and in every listing – it is not bound by language, culture or location. The end result is a symbol people feel compelled to share – one that accepts we are all different, one to wear with pride. We’ve created a long term, universal symbol for Airbnb.</p>
      </div>
    </div>

  </div>

</section>