<link rel="stylesheet" href="/css/press.css" type="text/css"><script> </script>

<section class="Press  block  wrapper">

  <ul class="Press__list">
    <li class="Press__item">
      <a class="Press__link" href="#">

        <span class="Press__img">
          <img src="/imgs/press1.png" alt="">
        </span>

        <span class="Press__content">
          <h4 class="Press__title">Forbes</h4>
          <p class="Press__copy">What Marketers Can Learn From Airbnb's Rebrand</p>
          <i class="Press__date">22.07.2015</i>
        </span>

      </a>
    </li>
    <li class="Press__item">
      <a class="Press__link" href="#">

        <span class="Press__img">
          <img src="/imgs/press2.png" alt="">
        </span>

        <span class="Press__content">
          <h4 class="Press__title">The Guardian</h4>
          <p class="Press__copy">How we rebranded Airbnb</p>
          <i class="Press__date">22.07.2015</i>
        </span>

      </a>
    </li>
    <li class="Press__item">
      <a class="Press__link" href="#">

        <span class="Press__img">
          <img src="/imgs/press3.png" alt="">
        </span>

        <span class="Press__content">
          <h4 class="Press__title">CreativeReview</h4>
          <p class="Press__copy">DesignStudio rebrands Airbnb: Reaction</p>
          <i class="Press__date">22.07.2015</i>
        </span>

      </a>
    </li>
  </ul>
  
</section>
