@import "settings/vars";

/*------------------------------------*\
  #Header
\*------------------------------------*/

.Header {

  position: fixed;
  width: 100%;
  z-index: 10;

  @supports(mix-blend-mode: difference) {

    @media(--sm) {
      mix-blend-mode: difference;
      color: var(--white);
    }
    
  }

  &__wrapper {

    display: flex;
    justify-content: space-between;
    margin-top: calc( var(--bsu-lg) - 12px );

    @media(--sm) {

      margin-top: calc( var(--bsu-xl) - 12px );

    }

  }

  &__logo {

    position: relative;
    z-index: 1;
    font-size: 18px;

    @media(--sm) {

      font-size: 21px;

    }

  }

  &__nav {
    
    @media(--sm) {
      position: relative;
    }

    @media(--smMax) {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: var(--border) solid var(--blue);
      background-color: color( var(--white) a(90%) );
      padding-top: calc( var(--header-height-small) + var(--bsu-lg) );
      padding-left: calc( var(--column) * 2 );
      padding-right: calc( var(--column) * 2 );
      transform: translate3d(-100%, 0, 0);
      opacity: 0;
      visibility: hidden;
      transition: 
        transform 0s ease .5s,
        opacity .5s cubic-bezier(0.77, 0, 0.175, 1),
        visibility .5s cubic-bezier(0.77, 0, 0.175, 1);

      @nest .Header.is-open & {

        & {
          opacity: 1;
          visibility: visible;
          transform: translate3d(0, 0, 0);
          transition: 
            transform 0s ease 0s,
            opacity .5s cubic-bezier(0.77, 0, 0.175, 1),
            visibility .5s cubic-bezier(0.77, 0, 0.175, 1);
        }

      }

    }
    
  }

  $link-padding: 12px;

  &__list {

    @media(--sm) {

      margin-top: -$link-padding;
      margin-right: -$link-padding;

    }

  }

  &__item {

    @media(--sm) {

      display: inline-block;

    }
    

    & a {

      display: block;
      font-size: 26px;
      line-height: calc(36/26);

      @media(--sm) {

        font-size: 20px;
        font-weight: 300;
        padding: $link-padding;

      }

    }

  }

  &__switch {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: var(--bsu-lg) var(--gutter) var(--bsu-lg) var(--bsu);

    @media (--sm) {

      display: none;

    }

  }

  &__burger {

    $height: 2px;
    $width:  20px;
    $gutter: 3px;

    position: relative;
    margin-top: $height + $gutter;
    margin-bottom: $height + $gutter;
    user-select: none;

    &, &:before, &:after {
      display: block;
      width: $width;
      height: $height;
      transform: translate3d(0,0,0);
      outline: 1px solid transparent;
      background-color: var(--black);
      transition: transform var(--trans-inout), background-color var(--trans-inout);
    }
    
    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
    }

    &:before {
      transform: translate3d(0, -calc($height + $gutter), 0) rotate(0deg);
    }

    &:after {
      transform: translate3d(0, calc($height + $gutter), 0) rotate(0deg);
    }

    @nest .Header.is-open & {

      &, &:before, &:after {
        background-color: var(--grey);
        transition: transform .5s cubic-bezier(0.77, 0, 0.175, 1), background-color  .5s cubic-bezier(0.77, 0, 0.175, 1);
      }

      & {
        background-color: transparent;
        transform: translate3d(0,0,0);
      }

      &:before {
        transform: translate3d(0, 0, 0) rotate(-45deg);
      }

      &:after {
        transform: translate3d(0, 0, 0) rotate(45deg);
      }
    }
  }

  &__info {

    padding-top: var(--bsu);
    padding-bottom: var(--bsu);

    & a {

      border-bottom: 0;

    }

    @media (--sm) {

      display: none;

    }

  }
}

