<link rel="stylesheet" href="/css/header.css" type="text/css"><script> </script>

<header class="Header">

  <div class="Header__wrapper  wrapper">

    <a class="Header__logo" href="/"><b>Bridgecore</b></a>

    <button class="Header__switch" type="button">
      <span class="Header__burger"></span>
    </button>

    <nav class="Header__nav">

      <ul class="Header__list">
        <li class="Header__item"><a href="">Portfolio</a></li>
        <li class="Header__item"><a href="">About</a></li>
        <li class="Header__item"><a href="/contact/">Contact</a></li>
      </ul>

      <div class="Header__info">
        <address>
          <strong>London</strong><br>
          <a href="mailto:">ldn@design.studio</a><br>
          <a href="tel:">+44 (0)20 7490 8954</a>
        </address>

        <address>
          <strong>San Francisco</strong><br>
          <a href="mailto:">sf@design.studio</a><br>
          <a href="tel:">+1 (415) 796 0359</a>
        </address>
      </div>

    </nav>

   

  </div>

</header>